node_modules/
build/
dist/
coverage/
test-fixture/
.DS_Store

.idea
.obsidian/
.smart-env/

desktop.ini

*.log
*.vsix
*.zip
.env*
!.env.example
\!*.*
test-fixture/parent/extension.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr

copilot/
.obsidian
.makemd
.smart-env
.space


*.local
*.zip
\!*.*
*.exe
tests.ini
